@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
.counter {
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 50px 0px;
  &-header {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    &__tittle {
      text-align: center;
      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
  }
  &-cont {
    max-width: 1072px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    &-card {
      text-align: center;
      max-width: 240px;
      padding: 30px;
      width: 100%;
      display: inline-block;
      margin: auto;
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid #a1a1aa2b;
        border-right: 1px solid #a1a1aa2b;
      }
      &:nth-child(3) {
        border-bottom: 1px solid #a1a1aa2b;
      }
      &:nth-child(4) {
        border-right: 1px solid #a1a1aa2b;
      }
      &__tittle {
        font-family: 'IBM Plex Sans';
        margin: 0px 0px 10px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 66px;
        text-align: center;
        background: linear-gradient(98.24deg, #6ddcff 0%, #7f60f9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &__des {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #a1a1aa;
      }
    }
  }
}
@media (max-width: 910px) {
  .counter {
    &-cont {
      &-card {
        &:nth-child(1) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: 1px solid #a1a1aa2b;
        }
        &:nth-child(2) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
        &:nth-child(3) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: 1px solid #a1a1aa2b;
        }
        &:nth-child(4) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
      }
    }
  }
}
@media (max-width: 603px) {
  .counter {
    &-cont {
      &-card {
        &:nth-child(1) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
        &:nth-child(2) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
        &:nth-child(3) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
        &:nth-child(4) {
          border-bottom: 1px solid #a1a1aa2b;
          border-right: none;
        }
      }
    }
  }
}
